@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ana\/workplace\/bank-statement-stats\/app\/styles\/src\/main\.scss}line{font-family:\0000315}}
body {
  padding: 20px;
  font-family: Arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ana\/workplace\/bank-statement-stats\/app\/styles\/src\/main\.scss}line{font-family:\0000320}}
table {
  margin: 5em 0;
  width: 100%;
  background: white;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167f92;
  empty-cells: show;
  border-collapse: collapse;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ana\/workplace\/bank-statement-stats\/app\/styles\/src\/main\.scss}line{font-family:\0000329}}
table tr {
  border: 1px solid #d9e4e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ana\/workplace\/bank-statement-stats\/app\/styles\/src\/main\.scss}line{font-family:\0000331}}
table tr:nth-child(odd) {
  background-color: #eaf3f3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ana\/workplace\/bank-statement-stats\/app\/styles\/src\/main\.scss}line{font-family:\0000335}}
table th {
  color: #7da2aa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ana\/workplace\/bank-statement-stats\/app\/styles\/src\/main\.scss}line{font-family:\0000339}}
table td {
  border: 1px solid #d9e4e6;
  border-collapse: collapse;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ana\/workplace\/bank-statement-stats\/app\/styles\/src\/main\.scss}line{font-family:\0000343}}
table td, table th {
  text-align: center;
  padding: 1em;
  margin: .5em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ana\/workplace\/bank-statement-stats\/app\/styles\/src\/main\.scss}line{font-family:\0000348}}
table [contenteditable]:hover {
  border: 1px solid #167f92;
}
