<!doctype html>
<html ng-app="bankStatementsStats" ng-csp>
    <head>
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet"/>
        <!-- endbuild -->
    </head>

    <body ng-controller="StatsController as stats">
    <table id="payments">
        <thead>
            <tr>
                <th ng-repeat="header in headers">{{header}}</th>
            </tr>
        </thead>
        <tr data-ng-repeat="payment in payments">
            <td>{{payment.name}}</td>
            <td>{{payment.ammount}}</td>
            <td>{{payment.date}}</td>
            <td>{{payment.balance}}</td>
            <td><input ng-model="payment.category"></td>
            <td><input ng-model="payment.tags"></td>
          
        </tr>
    </table>
        
        <ul ng-repeat="payment in payments">
        <li>{{payment.tags}}...{{payment.category}}</li>
        </ul>
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/localforage/dist/localforage.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/SHA-1/sha1.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/payments.js"></script>
        <script src="scripts/ngapp.js"></script>
        
        <!-- endbuild -->
    </body>
</html>
